.row {
  height: 2em;
  margin: 2px;
}

span {
  height: 2em;
  margin: 2px;
}

.critter {
  display: inline-block;
  height: 2em;
  width: 2em;
  background: pink;
}

.living {
  background: rgb(50, 144, 39);
}

.dead {
  background: rgb(62, 46, 43);
}

button {
  display: inline-block;
}
